body {
  font-family: "Poppins", sans-serif;
  background: #15b551;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.img-responsive {
  max-width: 100%;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
  text-align: left;
  padding-top: 50px;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.card {
  background: white;
  margin: 30px 0;
  border-radius: 15px;
}

.card-header iframe {
  width: 100%;
}

.card-body {
  padding: 30px;
}

.btn {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: #15b551;
  border-radius: 100px;
  box-shadow: 1px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: white;
  margin-top: 24px;
  padding: 16px 32px;
  display: inline-block;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background: #f8f8f8;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)),
    url("../images/got7-homecoming-group-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 200px 0;
}

header h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  letter-spacing: 5px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0;
}

header h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  background: #15b551;
  border-radius: 100px;
  box-shadow: 1px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: white;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
}

main {
  background-color: white;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  background: rgba(78, 236, 139, 0.1);
  color: #03471d;
  opacity: 0.7;
  text-transform: uppercase;
  margin: 0;
  padding: 2px 6px;
  display: inline;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

main h4 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  margin: 0;
}

main h5 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  margin: 5px;
}

main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #272044;
  opacity: 0.7;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(20, 161, 74, 0.6),
      rgba(3, 27, 13, 0.8)
    ),
    url("../images/got7-homecoming-group-image-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

footer a {
  color: white;
  opacity: 0.7;
}

.lyrics p {
  margin: 0;
  text-align: left;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }

  footer,
  footer li {
    text-align: center;
  }
}
