body {
  font-family: "Poppins", sans-serif;
  background: #15b551;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}

thead th,
tbody td {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding: 5px 5px;
}

thead tr {
  background: #15b551;
  color: white;
  text-align: center;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.img-responsive {
  max-width: 100%;
  filter: contrast(130%) brightness(90%) drop-shadow(5px 5px 10px black);
}

.grid-2-columns {
  grid-template-columns: 0.5fr 1fr;
  text-align: left;
  padding-top: 50px;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.grid-4-columns {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.member-info {
  padding-top: 50px;
}

.member-info .grid-4-columns {
  grid-gap: 30px;
  margin-bottom: 30px;
}

.member-info img {
  filter: brightness(115%) contrast(110%);
  border-radius: 15px;
}

.card {
  background: white;
  margin: 30px 0;
  border-radius: 15px;
}

.embed-spotify {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 15px;
}

.embed-video {
  width: 100%;
  aspect-ratio: 16/9;
}

.card-body {
  padding: 0px 30px 0px;
}

.btn {
  display: block;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 1.5;
  text-transform: uppercase;
  background: #15b551;
  border-radius: 100px;
  box-shadow: 1px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  text-align: center;
  margin-top: 24px;
  padding: 16px 32px;
}

.btn-type-2 {
  padding: 10px 5px;
  width: 100%;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background: #f8f8f8;
}

.video-gallery .card {
  background: rgba(20, 161, 74, 0.1);
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url("../images/got7-homecoming-group-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white;
  padding: 200px 0;
}

header h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  letter-spacing: 5px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0;
}

header h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  background: #15b551;
  border-radius: 100px;
  box-shadow: 1px 4px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: white;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
}

main {
  background-color: white;
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  background: rgba(78, 236, 139, 0.1);
  color: #03471d;
  opacity: 0.7;
  text-transform: uppercase;
  margin: 0;
  padding: 2px 6px;
  display: inline;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

main h4 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  margin: 0;
}

main h5 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  margin: 5px;
}

main p {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #272044;
  opacity: 0.7;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(20, 161, 74, 0.6),
      rgba(3, 27, 13, 0.8)
    ),
    url("../images/got7-homecoming-group-image-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

footer a {
  color: white;
  opacity: 0.7;
}

.lyrics p {
  margin: 0;
  text-align: left;
}

.jayb-info,
.mark-info,
.jackson-info,
.jinyoung-info,
.youngjae-info,
.bambam-info,
.yugyeom-info {
  position: relative;
}

.member-info img {
  display: block;
  position: relative;
}

.jayb-info .overlay,
.mark-info .overlay,
.jackson-info .overlay,
.jinyoung-info .overlay,
.youngjae-info .overlay,
.bambam-info .overlay,
.yugyeom-info .overlay {
  transform: scale(0);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.jayb-info:hover .overlay,
.mark-info:hover .overlay,
.jackson-info:hover .overlay,
.jinyoung-info:hover .overlay,
.youngjae-info:hover .overlay,
.bambam-info:hover .overlay,
.yugyeom-info:hover .overlay {
  transform: scale(1);
  background: rgba(20, 161, 74, 0.25);
  transition: 0.5s ease;
  border-radius: 15px;
}

.jayb-info .text,
.mark-info .text,
.jackson-info .text,
.jinyoung-info .text,
.youngjae-info .text,
.bambam-info .text,
.yugyeom-info .text {
  color: white;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  overflow-wrap: normal;
}

@media screen and (max-width: 576px) {
  header {
    background-size: 100%;
    padding: 20px 0;
  }
}

@media screen and (max-width: 768px) {
  body div {
    text-align: center;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  header a {
    padding: 5px 10px;
    margin: 10px 0;
  }

  section {
    padding: 10px;
  }

  section.secondary,
  section.video-gallery {
    max-width: 70%;
  }

  .img-responsive {
    max-width: 50%;
  }

  div.first-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer {
    grid-template-columns: 1fr;
    text-align: center;
  }

  footer li {
    text-align: center;
  }

  .jayb-info img,
  .mark-info img,
  .jackson-info img,
  .jinyoung-info img,
  .youngjae-info img,
  .bambam-info img,
  .yugyeom-info img {
    margin: 0 auto;
  }

  .jayb-info .overlay,
  .mark-info .overlay,
  .jackson-info .overlay,
  .jinyoung-info .overlay,
  .youngjae-info .overlay,
  .bambam-info .overlay,
  .yugyeom-info .overlay {
    width: 50%;
    left: 25%;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .embed-spotify {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 15px;
  }
  .card-body,
  .lyrics p {
    text-align: center;
  }

  .about-text-block {
    display: none;
  }

  .member-info .text {
    font-size: 1em;
  }
}

@media screen and (min-width: 992px) {
  section.secondary {
    padding: 10px;
  }

  .about-text-block {
    display: none;
  }
  .grid.songs-grid,
  .grid.video-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  header {
    padding: 200px 0;
  }

  header h1 {
    font-size: 200px;
  }

  header h2,
  main h2 {
    font-size: 30px;
  }

  header h3 {
    font-size: 45px;
  }

  header a {
    font-size: 20px;
  }

  main p,
  table {
    font-size: 18px;
    line-height: 2;
  }

  section.secondary,
  section.video-gallery {
    max-width: 100%;
  }

  .grid.songs-grid,
  .grid.video-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1400px) {
  .introduction {
    vertical-align: middle;
  }
}
